<!DOCTYPE html>

<html>

    <head>

    <body>
        <form class="user-input" method="post">
            Income: <input type="text" name="income"><br>
            federal_taxes_withheld: <input type="text" name="federal_taxes_withheld"><br>
            social_security_wage: <input type="text" name="social_security_wage"><br>
            social_security_tax_withheld: <input type="text" name="social_security_tax_withheld"><br>
            medicare_wages_and_tips: <input type="text" name="medicare_wages_and_tips"><br>
            medicare_tax_withheld: <input type="text" name="medicare_tax_withheld"><br>
            <input class="optimize-button2" type="submit" value="submit">
        <form>
    </body>

    </head>
    
</html>
